<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/84c461e8ae.js" crossorigin="anonymous"></script>
        <title th:if="${not (student.registrationNumber == null)}" th:text="${'Edit Student - ' + student.registrationNumber}"></title>
        <title th:if="${student.registrationNumber == null}">New Student</title>
    </head>
    <body>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="ListStudents.html" th:href="${'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="FormStudent.html" th:href="${'/new'}">New Student</a>
                </li>
            </ul>

            <h2 th:if="${not (student.registrationNumber == null)}" th:text="${'Student - ' + student.registrationNumber}">Student</h2>
            <h2 th:if="${student.registrationNumber == null}">New Student</h2>

            <form th:object="${student}" th:action="@{/save}" method="post">
                <input type="hidden" th:field="*{version}"/>
                <div class="form-group row">
                    <label for="ID" class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="ID" th:field="*{registrationNumber}">
                        <label th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Name" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Name" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="LastName" class="col-sm-2 col-form-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="LastName" th:field="*{lastName}">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Phone" class="col-sm-2 col-form-label">Phone:</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="Phone" th:field="*{phone}">
                        <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="Email" th:field="*{email}">
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    </div>
                </div>

                <div class="row">
                    <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Submit</button>
                    <a th:href="${'/'}"><button type="button" class="btn btn-danger">Cancel</button></a>
                </div>
            </form>
        </div>

        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>